// Variables
@import "../../_styles/_variables";

.hourly {
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__Temperature,
  &__Wind {
    gap: 1rem;
    display: flex;
    overflow-x: scroll;
    cursor: grab;
    cursor: -webkit-grab;

    .day {
      width: 100%;
      gap: 0.75rem;
      display: flex;
      position: relative;
      align-items: center;
      min-width: fit-content;
      flex-direction: column;
      justify-content: center;
      background: radial-gradient(
        300px circle at 50% 80%,
        rgba(8 32 82 / 75%),
        rgba(0 0 0 / 0%)
      );

      .title {
        line-height: 110%;
        font-size: 0.875rem;
        font-family: $font_inter;
        color: rgba(255, 255, 255, 0.68);
      }

      .iconWrapper {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 3.5rem;
          height: 3.5rem;
        }
      }

      .value {
        font-size: 1.5rem;
        font-family: $font_inter;
      }
    }
  }

  .active {
    cursor: grabbing;
  }

  @media (min-width: 1025px) {
    width: 68.25%;
  }
}
