.card {
  display: flex;
  overflow: hidden;
  position: relative;
  padding: 1.5rem;
  align-items: center;
  border-radius: 0.75rem;
  justify-content: center;
  backdrop-filter: blur(80px);
  border: 1px solid rgba(255 255 255 / 20%);
  box-shadow: 0px 6px 20px rgba(0 0 0 / 20%);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
